<p>Search Knowledge Base</p>
<table align="center" class="table table-striped">
	<tr>
		<td>Search By Customer :</td>
		<td><select ng-model="customerName">
				<option value="">All Customers</option>
				<option value="ing">ING Bank</option>
				<option value="rabo">RaboBank</option>
				<option value="abn">ABN Amro</option>
				<option value="sns">SNS Bank</option>
		</select></td>
</table>
<br>

  <div class="container" ng-controller="SearchkbCtrl" ng-init="getKB()">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Customer Name</th>
				<th>Employee Name</th>
				<th>Questions</th>
				<th>Answers</th>
				<th>Date of Interview</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="kb in names | filter:customerName">
				<td>{{kb.customerName}}</td>
				<td>{{kb.employeeName}}</td>
				<td>{{kb.question}}</td>
				<td>{{kb.answer}}</td>
				<td>{{kb.interviewDate}}</td>
			</tr>
		</tbody>
	</table>
</div>

