<p>Search Employee</p>
<table align="center" class="table table-striped">
	<tr>
		<td>Search Employee By :</td>
		<td><select>
				<option value="eid">Employee Id</option>
				<option value="ename">Employee Name</option>
				<option value="eemail">Employee Email</option>
				<option value="eloc">Employee Location</option>
		</select></td>
		<td>&nbsp;&nbsp;<input type="text" id="val" /></td>
		<td>&nbsp;&nbsp;
			<button type="button" class="btn btn-info" ng-click="getEmployee()">Search</button>
</table>
<br>

<div class="container" ng-controller="SearchempCtrl">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Employee ID</th>
				<th>Employee Name</th>
				<th>Email</th>
				<th>Address</th>
				<th>Location</th>
				<th>Contact no.</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="emply in names">
				<td>{{emply.Name}}</td>
				<td>{{emply.Name}}</td>
				<td>{{emply.Country}}</td>
				<td>{{emply.Country}}</td>
				<td>{{emply.Name}}</td>
				<td>{{emply.Country}}</td>
			</tr>
		</tbody>
	</table>
</div>

